mixin team(member)
	//- Guard: ensure member exists
	if !member
		//- Optional: log warning in dev
		//- | <!-- WARNING: team mixin received undefined member -->
		return

	.team-member(data-rank=member.rank)
		.entry
			img(src=`assets/images/team/${member.lName}_${member.fName}.jpg`, alt=member.fName)
			div
				h3 #{member.fName} #{member.lName}

				//- Safe titles
				if member.titles && member.titles.length
					p.titles
						each title, i in member.titles
							span= title
							if i < member.titles.length - 1
								span &nbsp;#[span.contrast |]&nbsp;

				//- Safe summary
				if member.summary
					p.summary #{member.summary}

				//- Safe specialties
				if member.specialties && member.specialties.length
					p.specialties
						span #[strong Specialties:&nbsp;]
						each spec, i in member.specialties
							span.nowrap= spec
							if i < member.specialties.length - 1
								span !{' '}#[span.contrast •]&nbsp;
